fixed_vgg.npy
__pycache__/
*.swp
*.swo
*~
scripts/*.pb
scripts/runs/

tmp/
datasets/
.idea/
.ipynb_checkpoints/
runs/
result/
ckpts/
input_images/
output_images/
**/training_checkpoints/
models/
light_model/
out/

**/*.npy
.DS_Store
**/*.tgz
old_train.py

clean.sh
optimized_pbs/
