absl-py==0.7.1
appnope==0.1.0
astor==0.7.1
attrs==19.1.0
backcall==0.1.0
bleach==3.1.0
certifi==2019.3.9
decorator==4.4.0
defusedxml==0.5.0
entrypoints==0.3
gast==0.2.2
google-pasta==0.1.4
grpcio==1.19.0
h5py==2.8.0
imageio==2.5.0
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.8
numpy==1.16.2
olefile==0.46
pandocfilters==1.4.2
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.7.1
ptyprocess==0.6.0
Pygments==2.3.1
pyrsistent==0.14.11
python-dateutil==2.8.0
PyYAML==5.1
pyzmq==18.0.0
qtconsole==4.4.3
scipy==1.2.1
Send2Trash==1.5.0
six==1.12.0
tb-nightly==1.14.0a20190301
tensorflow==2.0.0a0
tensorflow-estimator-2.0-preview==1.14.0.dev2019040300
tensorflow-hub==0.3.0
tensorflowjs==1.0.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tf-estimator-nightly==1.14.0.dev2019030115
tf-keras-contrib==2.0.8
tf-nightly-2.0-preview==2.0.0.dev20190403
tornado==6.0.2
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.2
widgetsnbextension==3.4.2
